body{
	background-image: url("https://images.alphacoders.com/570/thumb-1920-570410.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	
}

.title {
	color: yellow;
	font-family: Consolas, monaco, monospace;
	font-size: 40px;	
}
