body{
	background-image: url("https://images8.alphacoders.com/570/570408.jpg");
	background-repeat:no-repeat;
	background-size: cover;	
}
.title{
	color: yellow;
	font-family: Consolas, monaco, monospace;
	font-size: 40px;	
} 
.info{
	color:yellow;
	font-family: Consolas, monaco, monospace;
	font-size: 20px;
}
.p1{
	float: left;
}
